<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
</head>

<body>
    <div class="wrapper">
        <div class="hero text-center">
            <h1>AirBnb Austin</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 style="-webkit-text-fill-color: black;"> Visualization for Austin Airbnb Listings Price for Zipcodes</h1>
                    <br>
                    <p style="-webkit-text-fill-color: black;">As part of analyzing Airbnb Rental listings for Texas, we present visualization with an interactive plot along with insights into the Airbnb data. We focus on Austin City's data, for the very reason that we live in Texas and we wish to perform an in-depth analysis to find out affordable places for stay.</p>
                    <div>
                        <canvas id="myChart" width="800" height="400"; style="float:right; font-size: 30px;"></canvas>
                    </div>
                    <button id="Addzip" style="-webkit-text-fill-color: black; height:30px; width: 100px; font: 13px ubuntu;">Add Zipcode</button>
                    <button id="Removezip" style="-webkit-text-fill-color: black; height:30px; width: 120px; font: 13px ubuntu;">Remove Zipcode</button>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>
                            <a href="/dtable" style="font: 20px ubuntu; -webkit-text-fill-color:navy;">Go to Table data</a>
                
                            <br>
                            <a href="/zipchart" style="font: 20px ubuntu; -webkit-text-fill-color:navy;">Click to follow chartjs</a>
                            <br>
                            <a href="/leafletmap" style="font: 20px ubuntu; -webkit-text-fill-color:navy;">Click to follow Leaflet</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/Chartjs/chartjssummary.js') }}"></script>
</body>

</html>